@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
  background-color: #070508;
}

.bar-animation {
  animation: top-bar 20s linear infinite forwards;
}
@keyframes top-bar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 767.98px) {
  .media-icon svg {
    height: 28px;
    width: 28px;
  }
}
